.DS_Store
.atom/
.idea
.packages
.pub/
pubspec.lock

Podfile.lock
Pods/
GeneratedPluginRegistrant.h
GeneratedPluginRegistrant.m

GeneratedPluginRegistrant.java

packages/firestore/android/build
packages/firestore/example/build
packages/firestore/example/android/.gradle
