.DS_Store
.atom/
.idea
.packages
.pub/
pubspec.lock

Podfile.lock
Pods/
GeneratedPluginRegistrant.h
GeneratedPluginRegistrant.m

GeneratedPluginRegistrant.java

.dart_tool
packages/image_picker/.vscode/launch.json
packages/image_picker/.vscode/settings.json
