name: video_player
publish_to: none
description: Flutter plugin for displaying inline video with other Flutter
  widgets on Android, iOS, and web.
repository: https://github.com/flutter/plugins/tree/main/packages/video_player/video_player
issue_tracker: https://github.com/flutter/flutter/issues?q=is%3Aissue+is%3Aopen+label%3A%22p%3A+video_player%22
version: 2.3.0

environment:
  sdk: ">=2.14.0 <3.0.0"
  flutter: ">=2.10.0"

flutter:
  plugin:
    platforms:
      android:
        default_package: video_player_android
      ios:
        default_package: video_player_avfoundation
      web:
        default_package: video_player_web

dependencies:
  flutter:
    sdk: flutter
  html: ^0.15.0
  video_player_android: 
    path: ../video_player_android/
  video_player_avfoundation: 
    path: ../video_player_avfoundation/
  video_player_platform_interface: 
    path: ../video_player_platform_interface/
  video_player_web: 
    path: ../video_player_web/

dev_dependencies:
  flutter_test:
    sdk: flutter
