version: 2
jobs:
  build:
    docker:
      - image: cirrusci/flutter
    steps:
      - checkout
      - run: echo $GCLOUD_KEY > ${HOME}/gcloud-service-key.json
      - run: cat  ${HOME}/gcloud-service-key.json
      - run: flutter doctor