name: android_alarm_manager
description: Flutter plugin for accessing the Android AlarmManager service, and
  running Dart code in the background when alarms fire.
version: 2.0.0
homepage: https://github.com/flutter/plugins/tree/master/packages/android_alarm_manager

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  pedantic: ^1.10.0

flutter:
  plugin:
    platforms:
      android:
        package: io.flutter.plugins.androidalarmmanager
        pluginClass: AndroidAlarmManagerPlugin

environment:
  sdk: '>=2.12.0 <3.0.0'
  flutter: ">=1.20.0"
