name: webview_flutter_example
description: Demonstrates how to use the webview_flutter plugin.

environment:
  sdk: ">=2.0.0-dev.68.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  webview_flutter:
    path: ../

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_driver:
    sdk: flutter
  integration_test:
    path: ../../integration_test
  pedantic: ^1.8.0

flutter:
  uses-material-design: true
  assets:
    - assets/sample_audio.ogg
